* {
  border: 2px solid goldenrod
}

body {
  background-color:black;
  color: goldenrod;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

nav {
  text-align: center;
  display: flex;
  padding: 30px;
}

nav button {
  background-color: goldenrod;
  color: black;
  width: 150px;
  height: 50px;
  border: none;
  text-align: center;
  display: flexbox;
  vertical-align: middle;
  font-size: 16px;
  border-radius: 25px;
}

#mainheader {
  padding-right: 350px;
}

main {
  padding: 30px;
}

section {
  display: inline-flex;
  vertical-align:-webkit-baseline-middle;
}

p {
  margin: 10px;
}

#lara-img {
  margin: 10px;
  width: 50;
  height: 50;
}

#spscc-img {
  margin: 10;
  width: 50;
  height: 50;
}

#codefellowslogo-img {
  width: 50;
  height: 50;
}

footer{
  text-align: center;
  padding: 20px;
}